<h1 style="color:white"> Welcome {{firstName}} !</h1>
<a mat-raised-button color='primary' routerLink="/createCandidate">Create New Candidate</a>
<div class='col-5 mt-5 ml-5 container-fluid' style='height: 200px;'>
  <mat-card class='col-8 h-75'>
    <mat-card-header>
      <mat-card-title>{{user.first}}</mat-card-title>
      <mat-card-subtitle>-{{user.email}}-</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='pl-4 pr-5 align-items-center'>

    </mat-card-content>
  </mat-card>
</div>
<mat-tab-group class='col-10 container-fluid'>
  <mat-tab color='accent'>
    <ng-template mat-tab-label>
      Screenings
    </ng-template>
    <app-screening-list></app-screening-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Candidates
    </ng-template>
    <app-search></app-search>
  </mat-tab>
</mat-tab-group>