<div class='bg-light text-light col-10 container-fluid py-2'>
  <mat-card *ngFor='let s of screenings; let i = index' class='w-100 mb-2'>
    <mat-card-header>
      <button mat-flat-button>
        <mat-card-title>
          Name: {{candidateNames[i]}}
        </mat-card-title>
        <mat-card-content>
          <h3>Score: {{s.screeningScore}}</h3>
          <div *ngIf='s.screeningNotes'>
            {{s.screeningNotes}}
          </div>
        </mat-card-content>
      </button>
    </mat-card-header>
    <mat-card-actions align='end'>
      <button mat-icon-button class='mr-2' (click)="updateScreening(s)">
        <mat-icon>border_color</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>