<div class='col-4 mt-5 pt-5 container-fluid' style='height: 525px;'>
  <mat-card class='h-75'>
    <mat-card-header>
      <mat-card-title> Update Screening {{this.firstName}} {{this.lastName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class='pl-4 pr-5 align-items-center'>
      <form class='w-100' #screeningForm='ngForm'>
        <mat-form-field class='w-100' appearance='outline'>
          <input matInput placeholder='score' [(ngModel)]='screening.screeningScore' name='score' #score='ngModel'
            required pattern='^[1-9][0-9]?$|^100$' maxlength='3'>

          <mat-error *ngIf='score.invalid || !score.pristine'>Score must be between 1 to 100</mat-error>
        </mat-form-field>

        <mat-form-field class='w-100 mt-4' appearance='outline'>

          <textarea matInput type='text' placeholder='note' [(ngModel)]='screening.screeningNotes' name='note'
            #note='ngModel' required minlength='0' maxlength='250'></textarea>

          <mat-error *ngIf='note.invalid || !note.pristine'>Notes cannot be empty!</mat-error>
        </mat-form-field>
        <mat-error *ngIf='message.error'>{{message.error}}</mat-error>
      </form>
    </mat-card-content>
    <mat-card-actions class='mt-2' align='end'>
      <button mat-icon-button class='mt-2 mr-1 ml-1' (click)='return()'><mat-icon>cancel</mat-icon></button>
      <button mat-icon-button type='submit' class='mt-2 ml-1' (click)='submit()'><mat-icon>done</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>