
<button (click)="return()">Return</button>
<table style="color:white" id="tableToView" class="table">
  <tr>
    <th class="text-center">Screening ID</th>
    <th class="text-center">Score</th>
    <th class="text-center">Notes</th>
    <th class="text-center">Update</th>
  </tr>
<tr *ngFor="let screening of listOfScreenings">
  <td class="text-center">{{ screening.id }}</td>
  <td class="text-center">{{ screening.screeningScore }}</td>
  <td class="text-center">{{ screening.screeningNotes }}</td>
  
  <td class="text-center"> <button (click)="updateScreening(screening)">Update Screening</button></td>
</table>