<br>
<button mat-raised-button color='primary' class='ml-4' (click)="return()">< Return</button>
<br>
<br>
<h1 style="color:white; align:text-center"> Viewing Profile of {{this.firstName}} {{this.lastName}}</h1>
<table style="color:white" id="tableToView" class="table">
  <tr>
    <th class="text-center">Screening ID</th>
    <th class="text-center">Score</th>
    <th class="text-center">Notes</th>
    <th class="text-center">Update</th>
  </tr>
<tr *ngFor="let screening of listOfScreenings">
  <td class="text-center">{{ screening.id }}</td>
  <td class="text-center">{{ screening.screeningScore }}</td>
  <td class="text-center">{{ screening.screeningNotes }}</td>
  
  <td class="text-center"> <button mat-icon-button color='primary' (click)="updateScreening(screening)"><mat-icon>border_color</mat-icon></button></td>
</table>