<div class='col-10 container-fluid'>
  <mat-toolbar>
    <mat-toolbar-row class='mt-4'>
      <form class='w-100' #searchForm='ngForm' (ngSubmit)='onSubmit()'>
        <mat-form-field class='w-50'>
          <mat-icon matPrefix color='primary'>search</mat-icon>
          <input matInput placeholder="Search" [(ngModel)]='textFilter' name='term'>
          <button mat-flat-button matSuffix color='primary' type='submit'>Search</button>
        </mat-form-field>
      </form>

    </mat-toolbar-row>
    <mat-divider></mat-divider>
    <mat-toolbar-row>
      <mat-button-toggle-group #filterGroup='matButtonToggleGroup' value='first'>
        <mat-button-toggle value='first'>First</mat-button-toggle>
        <mat-button-toggle value='last'>Last</mat-button-toggle>
        <mat-button-toggle value='both'>Both</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-all-candidates [textFilter]='textFilter' [textFilterType]='filterGroup.value'></app-all-candidates>
  <mat-paginator [length]="50" [pageSize]="5" [pageSizeOptions]="[5]">
  </mat-paginator>
</div>