<h1 style="color:white">Viewing All Candidates</h1>
<button mat-raised-button color='primary' routerLink='/home'>Return Home</button>

<table style="color:white" id="tableToView" class="table">
  <tr>
    <th class="text-center">Candidate ID</th>
    <th class="text-center">First Name</th>
    <th class="text-center">Last Name</th>
    <th class="text-center">Email</th>
    <th class="text-center">Create New Screening</th>
    <th class="text-center">View Profile</th>
  </tr>
  <tr *ngFor="let candidate of listOfCandidates">
    <td class="text-center">{{ candidate.candidate_id }}</td>
    <td class="text-center">{{ candidate.firstName }}</td>
    <td class="text-center">{{ candidate.lastName }}</td>
    <td class="text-center">{{ candidate.email }}</td>
    <td class="text-center"> <button (click)="saveCandidateId(candidate)">Create
        New Screening</button></td>
    <td class="text-center"><button (click)="viewCandidate(candidate)">View Candidate Profile</button></td>
  </tr>



</table>